/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/

@keyframes stretching {
    0% {
      width: 100px;
    }
    100% {
      width: 200px;
      transform: rotate(0.5turn);
    }
  }
  
  
  .button {
    /* animation-name: stretching;
    animation-duration: 1s;
    animation-timing-function: linear; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 48%, rgba(0,212,255,1) 100%);
    
    animation: 1s linear stretching;
  }
  